<div style="border:solid lightblue 3px; background:#f7faf8; padding: 20px">
<b>Елена, привет!</b>

Меня зовут Владимир Бердников, и я буду проверять твой проект. Предлагаю общаться на «ты», но если это не совсем удобно для тебя — дай знать, и мы перейдем на "вы". Моя цель не указать на совершённые тобой ошибки, а поделиться своим опытом и помочь улучшить навыки. 
    
Пожалуйста, не перемещай, не удаляй и не правь мои комментарии. Всё это поможет выполнить повторную проверку твоего проекта оперативнее.

При проверке работы я буду отмечать комментарии цветом и примечанием. В конце заголовка комментария указан номер итерации проверки.

<div class="alert alert-block alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера v_1: <a class="tocSkip"></h2>
    
❌ Комментарии такого цвета нужно исправить, иначе проект не будет принят. 
</div>

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера v_1: <a class="tocSkip"> </h2>
    
⚠️ Такой комментарий является рекомендацией или советом. 
</div>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера v_1: <a class="tocSkip"> </h2>
    
✅ Так выделены все остальные комментарии, включая позитивные моменты, пояснения и рассуждения.
</div>  
    
Давай работать над проектом в диалоге: если ты что-то меняешь в проекте — пиши об этом в комментариях, например, с помощью такого кода в markdown ячейке:

<div class="alert alert-info"  style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
    
<h2>Комментарий студента v_1: <a class="tocSkip"> </h2>

Ок.

<div class="alert alert-info"  style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
    
<h2>Комментарий студента v_1: <a class="tocSkip"> </h2>

Привет, Владимир! Очень приятно. Отправляю доработанный проект :)

<div style="border:solid tomato  2px; padding: 20px"> 

# Сборный проект-2

**Описание проекта**

Заказчик этого исследования — большая телекоммуникационная компания, которая оказывает услуги на территории всего СНГ. Перед компанией стоит задача определить текущий уровень потребительской лояльности, или NPS (от англ. Net Promoter Score), среди клиентов из России.

Чтобы определить уровень лояльности, клиентам задавали классический вопрос: «Оцените по шкале от 1 до 10 вероятность того, что вы порекомендуете компанию друзьям и знакомым».

Компания провела опрос и попросила подготовить дашборд с его итогами. Большую базу данных для такой задачи разворачивать не стали и выгрузили данные в SQLite.

Чтобы оценить результаты опроса, оценки обычно делят на три группы:

- 9-10 баллов — «cторонники» (англ. promoters);
- 7-8 баллов — «нейтралы» (англ. passives);
- 0-6 баллов — «критики» (англ. detractors).

Итоговое значение NPS рассчитывается по формуле: `% «сторонников» - % «критиков»`.

Таким образом, значение этого показателя варьируется от -100% (когда все клиенты «критики») до 100% (когда все клиенты лояльны к сервису). Но это крайние случаи, которые редко встретишь на практике.

Интерпретируя результаты NPS-опросов, следует также помнить, что само значение мало о чём говорит. Однако исследования показывают, что клиенты-сторонники полезны любому бизнесу. Они чаще других повторно совершают покупки, активнее тестируют обновления и приводят в сервис своих друзей и знакомых. Поэтому NPS остаётся одной из важнейших метрик бизнеса.
    
---

**Описание данных**

Таблица `user`:

Содержит основную информацию о клиентах.
    
- `user_id` - идентификатор клиента, первичный ключ таблицы
- `lt_day` - количество дней «жизни» клиента
- `age` - возраст клиента в годах
- `gender_segment` - пол клиента (1 – женщина, 0 – мужчина)
- `os_name` - тип операционной системы
- `cpe_type_name` - тип устройства
- `location_id` - идентификатор домашнего региона клиента, внешний ключ, отсылающий к таблице location
- `age_gr_id` -	идентификатор возрастного сегмента клиента, внешний ключ, отсылающий к таблице age_segment
- `tr_gr_id` - идентификатор сегмента клиента по объёму потребляемого трафика в месяц, внешний ключ, отсылающий к таблице - `traffic_segment`
- `lt_gr_id` - идентификатор сегмента клиента по количеству месяцев «жизни», внешний ключ, отсылающий к таблице lifetime_segment
- `nps_score` - оценка клиента в NPS-опросе (от 1 до 10)


Таблица `location`:

Справочник территорий, в которых телеком-компания оказывает услуги.

- `location_id` - идентификатор записи, первичный ключ
- `country` - страна
- `city` - город

Таблица `age_segment`:

Данные о возрастных сегментах клиентов.
    
- `age_gr_id` - идентификатор сегмента, первичный ключ
- `bucket_min` - минимальная граница сегмента
- `bucket_max` - максимальная граница сегмента
- `title` - название сегмента

Таблица `traffic_segment`:

Данные о выделяемых сегментах по объёму потребляемого трафика.

- `tr_gr_id` - идентификатор сегмента, первичный ключ
- `bucket_min` - минимальная граница сегмента
- `bucket_max` - максимальная граница сегмента
- `title` - название сегмента
    
Таблица `lifetime_segment`:

Данные о выделяемых сегментах по количеству месяцев «жизни» клиента — лайфтайму.
    
- `lt_gr_id` - идентификатор сегмента, первичный ключ
- `bucket_min` - минимальная граница сегмента
- `bucket_max` - максимальная граница сегмента
- `title` - название сегмента

---

***Цель исследования***

1. Исследовать предоставленный набор данных о конференциях, спикерах и аудитории TED
2. Создать дашборды в Tableau по изученным особенностям предоставленных материалов
3. Подготовить презентацию с составленными дашбордами на слайдах
---
    
***Ход исследования***
        
**Шаг 1. Подключение к базе**
    
Прежде чем начать работу, подключаемся к базе данных. Данные выгрузили в SQLite — СУБД, в которой база данных представлена файлом. Для подключения к такой базе достаточно иметь доступ к файлу с расширением .db.

**Шаг 2. Выгрузка данных**
    
Теперь нужно подготовить данные для дашборда. Преобразовывать данные с помощью Python по условиям задания нельзя — нам необходимо использовать только SQL-запросы. 
Собираем в одну витрину данные из разных таблиц. Эту витрину далее используем для дашборда.
    
**Шаг 3. Создание дашборда в Tableau**
    
Построим дашборд, который представит информацию о текущем уровне NPS среди клиентов и покажет, как этот уровень меняется в зависимости от пользовательских признаков. 
Из дашборда должно быть понятно, какие группы пользователей участвовали в опросе. Важно учесть, что если пользователи какой-то группы преобладают, то это могло отразиться на общем уровне NPS. 
    
**Шаг 4. Ответы на вопросы с помощью дашборда**
    
Используя дашборд, ответьте на вопросы:
    
- Как распределены участники опроса по возрасту и полу? Каких пользователей больше: новых или старых? Пользователи из каких городов активнее участвовали в опросе?
- Какие группы пользователей наиболее лояльны к сервису? Какие менее?
- Какой общий NPS среди всех опрошенных?
- Как можно описать клиентов, которые относятся к группе cторонников (англ. promoters)?

***Оформление***
    
Опубликуем дашборд на сайте Tableau Public.

## Подключение к базе

**Импортируем библиотеки:**

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

**Подключаемся к базе данных:**

In [2]:
path_to_db_local = 'C:/Users/etols/Downloads/telecomm_csi.db'
path_to_db_platform = '/datasets/telecomm_csi.db'
path_to_db = None

if os.path.exists(path_to_db_local):
    path_to_db = path_to_db_local
elif os.path.exists(path_to_db_platform):
    path_to_db = path_to_db_platform
else:
    raise Exception('Файл с базой данных SQLite не найден!')

if path_to_db:
    engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

**Посмотрим, какие таблицы представлены у нас в данных, выгрузим по 10 строк из каждой:**

In [3]:
query = """
    SELECT *
    FROM user
    LIMIT 10;
    """
user = pd.read_sql(query, engine)
user

,user_id,lt_day,age,gender_segment,os_name,cpe_type_name,location_id,age_gr_id,tr_gr_id,lt_gr_id,nps_score
0,A001A2,2320,45.0,1.0,ANDROID,SMARTPHONE,55,5,5,8,10
1,A001WF,2344,53.0,0.0,ANDROID,SMARTPHONE,21,5,5,8,10
2,A003Q7,467,57.0,0.0,ANDROID,SMARTPHONE,28,6,9,6,10
3,A004TB,4190,44.0,1.0,IOS,SMARTPHONE,38,4,4,8,10
4,A004XT,1163,24.0,0.0,ANDROID,SMARTPHONE,39,2,6,8,10
5,A005O0,5501,42.0,1.0,ANDROID,SMARTPHONE,34,4,6,8,6
6,A0061R,1236,45.0,0.0,ANDROID,SMARTPHONE,55,5,7,8,10
7,A009KS,313,35.0,0.0,ANDROID,SMARTPHONE,28,4,14,5,10
8,A00AES,3238,36.0,1.0,ANDROID,SMARTPHONE,41,4,5,8,10
9,A00F70,4479,54.0,1.0,ANDROID,SMARTPHONE,9,5,8,8,9

In [4]:
query = """
    SELECT *
    FROM location
    LIMIT 10;
    """
location = pd.read_sql(query, engine)
location

   location_id         city country
0            1  Архангельск  Россия
1            2    Астрахань  Россия
2            3     Балашиха  Россия
3            4      Барнаул  Россия
4            5     Белгород  Россия
5            6       Брянск  Россия
6            7  Владивосток  Россия
7            8     Владимир  Россия
8            9    Волгоград  Россия
9           10     Волжский  Россия

In [5]:
query = """
    SELECT *
    FROM age_segment
    LIMIT 10;
    """
age_segment = pd.read_sql(query, engine)
age_segment

   age_gr_id  bucket_min  bucket_max     title
0          1         NaN        15.0  01 до 16
1          2        16.0        24.0  02 16-24
2          3        25.0        34.0  03 25-34
3          4        35.0        44.0  04 35-44
4          5        45.0        54.0  05 45-54
5          6        55.0        64.0  06 55-64
6          7        66.0         NaN   07 66 +
7          8         NaN         NaN    08 n/a

In [6]:
query = """
    SELECT *
    FROM age_segment
    LIMIT 10;
    """
age_example = pd.read_sql(query, engine)
age_example

   age_gr_id  bucket_min  bucket_max     title
0          1         NaN        15.0  01 до 16
1          2        16.0        24.0  02 16-24
2          3        25.0        34.0  03 25-34
3          4        35.0        44.0  04 35-44
4          5        45.0        54.0  05 45-54
5          6        55.0        64.0  06 55-64
6          7        66.0         NaN   07 66 +
7          8         NaN         NaN    08 n/a

In [7]:
query = """
    SELECT *
    FROM traffic_segment
    LIMIT 10;
    """
traffic_segment = pd.read_sql(query, engine)
traffic_segment

   tr_gr_id  bucket_min  bucket_max        title
0         1        0.00        0.00         01 0
1         2        0.00        0.01    01 0-0.01
2         3        0.01        0.10  02 0.01-0.1
3         4        0.10        1.00     03 0.1-1
4         5        1.00        5.00       04 1-5
5         6        5.00       10.00      05 5-10
6         7       10.00       15.00     06 10-15
7         8       15.00       20.00     07 15-20
8         9       20.00       25.00     08 20-25
9        10       25.00       30.00     09 25-30

In [8]:
query = """
    SELECT *
    FROM lifetime_segment
    LIMIT 10;
    """
lifetime_segment = pd.read_sql(query, engine)
lifetime_segment

   lt_gr_id  bucket_min  bucket_max     title
0         1         1.0         1.0      01 1
1         2         2.0         2.0      02 2
2         3         3.0         3.0      03 3
3         4         4.0         6.0    04 4-6
4         5         7.0        12.0   05 7-12
5         6        13.0        24.0  06 13-24
6         7        25.0        36.0  07 25-36
7         8        36.0         NaN    08 36+

**Сформируем запрос с нулевыми значениями, попробуем посмотреть, в каких строках есть пропуски**

In [9]:
query = """
    SELECT *
    FROM user
    WHERE user_id IS NULL
    OR lt_day IS NULL
    OR age IS NULL
    OR gender_segment IS NULL
    OR os_name IS NULL
    OR cpe_type_name IS NULL
    OR location_id IS NULL
    OR age_gr_id IS NULL
    OR tr_gr_id IS NULL
    OR lt_gr_id IS NULL
    OR nps_score IS NULL
    LIMIT 10;
    """
user_nulls = pd.read_sql(query, engine)
user_nulls

,user_id,lt_day,age,gender_segment,os_name,cpe_type_name,location_id,age_gr_id,tr_gr_id,lt_gr_id,nps_score
0,A1E59W,4055,NaN,None,ANDROID,SMARTPHONE,13,8,5,8,1
1,A1S6VL,335,40.0,None,ANDROID,TABLET,14,4,8,5,8
2,A28ZDT,4243,NaN,None,ANDROID,SMARTPHONE,56,8,5,8,5
3,A2GLPQ,2354,NaN,None,ANDROID,SMARTPHONE,16,8,7,8,1
4,A3XMNW,41,32.0,None,ANDROID,SMARTPHONE,41,3,4,2,1
5,A41C1K,557,NaN,None,ANDROID,SMARTPHONE,38,8,5,6,3
6,A4590P,94,27.0,None,ANDROID,SMARTPHONE,28,3,6,4,10
7,A48OT7,61,33.0,None,ANDROID,SMARTPHONE,28,3,12,3,9
8,A4T128,76,38.0,None,ANDROID,SMARTPHONE,28,4,7,3,10
9,A513VG,4705,NaN,None,IOS,SMARTPHONE,13,8,24,8,9

**Обращаем внимание на то, что пропуски обнаружились в столбце `age`, в столбце `gender_segment` нулевые значения не обнаружились, и значение `None` не является пропуском. Однако значение `None` также непоказательно для нашего исследования, как и пропуски.**

**Посчитаем общее количество строк в таблице user.**

In [10]:
query = """
    SELECT COUNT(*)
    FROM user
    """
user_count = pd.read_sql(query, engine)
user_count

   COUNT(*)
0    502493

**Посчитаем количество строк с пустыми значениями.**

In [11]:
query = """
    SELECT COUNT(*)
    FROM user
    WHERE user_id IS NULL
    OR lt_day IS NULL
    OR age IS NULL
    OR gender_segment IS NULL
    OR os_name IS NULL
    OR cpe_type_name IS NULL
    OR location_id IS NULL
    OR age_gr_id IS NULL
    OR tr_gr_id IS NULL
    OR lt_gr_id IS NULL
    OR nps_score IS NULL;
    """
user_nulls_count = pd.read_sql(query, engine)
user_nulls_count

   COUNT(*)
0      1341

**Доля пропущенных значений от общего числа: 1341/502493 = 0,3%, что составляет менее 1%. На наше исследование они не влияют.**

<div class="alert alert-info"  style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
    
<h2>Комментарий студента v_1: <a class="tocSkip"> </h2>

Добавила несколько проверок на аномальные значения и неявные дубликаты.

**Проверим, есть ли в столбцах аномальные значения, например, в столбце с количеством дней `lt_day` проверим отрицательные или нулевые значения.**

In [12]:
query = """
    SELECT lt_day
    FROM user
    WHERE lt_day <= 0;
    """
lt_day = pd.read_sql(query, engine)
lt_day

    lt_day
0       -8
1       -2
2       -4
3      -21
4        0
5      -13
6        0
7      -13
8       -6
9      -12
10     -11
11       0
12     -13
13      -1
14     -12
15       0
16      -7

In [13]:
query = """
    SELECT COUNT(lt_day)
    FROM user
    WHERE lt_day <= 0;
    """
lt_day_count = pd.read_sql(query, engine)
lt_day_count

   COUNT(lt_day)
0             17

**Таких значений всего 17, при составлении общего запроса эти значения будем исключать из выборки.**

**Также проверим отрицательные значения в столбце с возрастом `age`.**

In [14]:
query = """
    SELECT DISTINCT(age)
    FROM user
    WHERE age <= 0;
    """
age = pd.read_sql(query, engine)
age

Empty DataFrame
Columns: [age]
Index: []

**Также проверим сразу, нет ли лишних значений в столбце `nps_score` кроме тех, которые используют для оценки потребительской лояльности, т.е. от 1 до 10.**

In [15]:
query = """
    SELECT DISTINCT(nps_score)
    FROM user
    ORDER BY nps_score;
    """
dist_nps = pd.read_sql(query, engine)
dist_nps

   nps_score
0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10

**Также проверим явные дубликаты в столбце `city`.**

In [16]:
query = """
    SELECT DISTINCT(city)
    FROM location
    GROUP BY city
    HAVING COUNT(1) > 1;
    """
city_dubs = pd.read_sql(query, engine)
city_dubs

Empty DataFrame
Columns: [city]
Index: []

**Теперь посмотрим, есть ли неявные дубликаты в столбце `city` или какие-то ошибочные значения.**

In [17]:
query = """
    SELECT DISTINCT(city)
    FROM location
    GROUP BY city
    HAVING COUNT(city);
    """
city_unique = pd.read_sql(query, engine)
list(city_unique['city'])

['Архангельск',
 'Астрахань',
 'Балашиха',
 'Барнаул',
 'Белгород',
 'Брянск',
 'Владивосток',
 'Владимир',
 'Волгоград',
 'Волжский',
 'Воронеж',
 'Грозный',
 'Екатеринбург',
 'Иваново',
 'Ижевск',
 'Иркутск',
 'Казань',
 'Калининград',
 'Калуга',
 'Кемерово',
 'Киров',
 'Краснодар',
 'Красноярск',
 'Курск',
 'Липецк',
 'Магнитогорск',
 'Махачкала',
 'Москва',
 'НабережныеЧелны',
 'НижнийНовгород',
 'НижнийТагил',
 'Новокузнецк',
 'Новосибирск',
 'Омск',
 'Оренбург',
 'Пенза',
 'Пермь',
 'РостовнаДону',
 'Рязань',
 'Самара',
 'СанктПетербург',
 'Саранск',
 'Саратов',
 'Смоленск',
 'Сочи',
 'Ставрополь',
 'Сургут',
 'Тверь',
 'Тольятти',
 'Томск',
 'Тула',
 'Тюмень',
 'УланУдэ',
 'Ульяновск',
 'Уфа',
 'Хабаровск',
 'Чебоксары',
 'Челябинск',
 'Череповец',
 'Чита',
 'Якутск',
 'Ярославль']

**В списке городов неявных дубликатов не выявлено.**

## Выгрузка данных

Теперь подготовим данные для дашборда с помощью SQL-запросов. Нам нужно собрать в одну витрину данные из разных таблиц. Эту витрину мы будем использовать для дашборда.

Определить, является ли клиент новым, можно по количеству дней «жизни». Такой показатель ещё называют лайфтайм. Его отсчитывают с момента совершения важного события для бизнеса, например покупки сим-карты для телеком-компании. Клиента считают новым, если количество дней «жизни» составляет не более 365 дней.

In [18]:
query = """
    SELECT u.user_id,
           u.lt_day,
           CASE
               WHEN u.lt_day <= 365 THEN 'новый'
               WHEN u.lt_day > 365 THEN 'старый'
           END AS is_new,
           u.age,
           CASE
                WHEN u.gender_segment = 1 THEN 'женщина'
                WHEN u.gender_segment = 0 THEN 'мужчина'
                ELSE 'не указано'
            END AS gender_segment,
            u.os_name,
            u.cpe_type_name,
            l.country,
            l.city,
            SUBSTRING(aseg.title, 4) AS age_segment,
            SUBSTRING(ts.title, 4) AS traffic_segment,
            SUBSTRING(ls.title, 4) AS lifetime_segment,
            u.nps_score,
            CASE
               WHEN u.nps_score BETWEEN 9 AND 10 THEN 'сторонники'
               WHEN u.nps_score BETWEEN 7 AND 8 THEN 'нейтралы'
               WHEN u.nps_score <= 6 THEN 'критики'
            END AS nps_group
    FROM user AS u
    INNER JOIN location AS l ON u.location_id = l.location_id
    INNER JOIN age_segment AS aseg ON u.age_gr_id = aseg.age_gr_id
    INNER JOIN traffic_segment AS ts ON u.tr_gr_id = ts.tr_gr_id
    INNER JOIN lifetime_segment AS ls ON u.lt_gr_id = ls.lt_gr_id
    WHERE u.age IS NOT NULL AND u.lt_day > 0;
    """
df = pd.read_sql(query, engine)
df.head(10)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,старый,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,сторонники
1,A001WF,2344,старый,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,сторонники
2,A003Q7,467,старый,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,сторонники
3,A004TB,4190,старый,44.0,женщина,IOS,SMARTPHONE,Россия,РостовнаДону,35-44,0.1-1,36+,10,сторонники
4,A004XT,1163,старый,24.0,мужчина,ANDROID,SMARTPHONE,Россия,Рязань,16-24,5-10,36+,10,сторонники
5,A005O0,5501,старый,42.0,женщина,ANDROID,SMARTPHONE,Россия,Омск,35-44,5-10,36+,6,критики
6,A0061R,1236,старый,45.0,мужчина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,10-15,36+,10,сторонники
7,A009KS,313,новый,35.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,35-44,45-50,7-12,10,сторонники
8,A00AES,3238,старый,36.0,женщина,ANDROID,SMARTPHONE,Россия,СанктПетербург,35-44,1-5,36+,10,сторонники
9,A00F70,4479,старый,54.0,женщина,ANDROID,SMARTPHONE,Россия,Волгоград,45-54,15-20,36+,9,сторонники

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера v_1: <a class="tocSkip"> </h2>
    
✅ Выгружены соответствующие поля. Здорово, что используешь метод `SUBSTRING`.

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера v_1: <a class="tocSkip"> </h2>
    
⚠️ Дополнительно можно проверить, что с данными всё ок. В частности, что значения в nps_score находятся в диапазоне от 1 до 10, что в поле city отсутствуют неявные дубликаты городов, а в age/age_segment нет отрицательных значений и т.д.

**Получившуюся таблицу сохраним как CSV-файл.**

In [19]:
df.to_csv('C:/Users/etols/Downloads/df.csv', index=False)

## Создание дашборда в Tableau

Построим дашборд, который представит информацию о текущем уровне NPS среди клиентов и покажет, как этот уровень меняется в зависимости от пользовательских признаков. Из дашборда должно быть понятно, какие группы пользователей участвовали в опросе. Обратите внимание, что если пользователи какой-то группы преобладают, то это могло отразиться на общем уровне NPS.

Используйте любые типы визуализаций, добавляйте любое количество графиков и страниц дашборда. Не забудьте применить фильтры — они сделают дашборд интерактивным и упростят менеджерам работу с данными опроса.

<div class="alert alert-info"  style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
    
<h2>Комментарий студента v_1: <a class="tocSkip"> </h2>

Откорректировала дашборд и презентацию.

Дашборд: https://public.tableau.com/views/2_17258234702480/sheet8?:language=en-US&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link

## Ответьте на вопросы с помощью дашборда

Презентация: https://public.tableau.com/views/2_17258234702480/Story1?:language=en-US&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера v_1: <a class="tocSkip"> </h2>  
    
✅ Сделано хорошо:
    
* на вкладке расположено несколько графиков
    
* есть заголовки визуализаций и названия дашбордов
    
* добавлено описание дашбордов

* есть подписи на визуализациях
   
* подписи во всплывающих подсказках визуализаций на русском языке
   
* представлены необходимые графики по распределению участников
    
* даны ответы на все вопросы по распределению

<div class="alert alert-block alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера v_1: <a class="tocSkip"></h2>
    
* построить график NPS по городам, т.к. этот параметр упоминается в вопросах (желательно представить все города, например, на линейчатой (с горизонтальными столбцами) диаграмме, в таблице или географической карте) 
   
Ответы на вопросы: 
 
* в каком городе (или городах) NPS самый низкий и самый высокий (дополнительно можно еще добавить, есть ли связь между количеством участников в городах и NPS)?

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера v_1: <a class="tocSkip"> </h2>

⚠️ Что можно лучше:
    
* дашборд со сторонниками необязателен; можно ограничиться фильтром по группам респондентов (сторонники/нейтралы/критики) на дашборде с распределением (его следует применить ко всем визуализациям по распределению участников)
    
* добавить для пользователей лаконичное описание о том, что визуализация позволяет отфильтровать данные при нажатии на один из сегментов, например, после названия визуализации (серым цветом и шрифтом поменьше) или в подзаголовке, т.к. наличие Action неочевидно без текстового упоминания о нем
 
* добавить распределение участников опроса по (создав еще один дашборд или параметр, который позволяет выбирать визуализацию): 
    * трафику
    
* во всплывающей подсказке графиков с распределением указать одновременно количество респондентов и их долю (в тултип добавить соответствующую меру и через Insert в тултипе - необходимое значение)

* добавить графики NPS по:
    * устройству
    * операционной системе 
    
* в качестве альтернативы можно построить единую таблицу NPS (highlight table) по трем параметрам (пол, возраст, старые/новые клиенты или lifetime); она позволит точнее определить портрет лояльного пользователя
  
Ответы на вопросы: 
   
* "Как можно описать клиентов, которые относятся к группе cторонников (англ. promoters)?" - совпадают ли профили всех пользователей и профили сторонников друг с другом, имеют ли группы пользователей среди сторонников примерно тоже самое соотношение, что и на визуализациях со всеми пользователиями?

<div style="border:solid lightblue 3px; background:#f7faf8; padding: 20px">
<span style="color:darkblue">Комментарий ревьюера v_1:</span>
    
По распределению респондентов работа очень хорошо выполнена, но также нужно дополнить анализ NPS. Жду проект)

<div class="alert alert-info"  style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
    
<h2>Комментарий студента v_1: <a class="tocSkip"> </h2>

Дополнила анализ по твоим комментариям, жду проверки :)